<div>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> <span class="displayText">Syncfusion Blazor Samples</span>
            </NavLink>
        </li>
    </ul>
 <div class="separator"></div>
    <div class="scroller">
       <ul class="nav flex-column">
       			<li class="nav-item px-3">
 	<NavLink class="nav-link" href="datagrid-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-datagrid" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">DataGrid</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="pivottable-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-pivottable" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Pivot Table</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="treegrid-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-treegrid" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Tree Grid</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="charts-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-charts" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Charts</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="stockchart-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-stockchart" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Stock Chart</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="circulargauge-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-circulargauge" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Circular Gauge</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="heatmapchart-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-heatmapchart" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">HeatMap Chart</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="lineargauge-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-lineargauge" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Linear Gauge</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="maps-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-maps" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Maps</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="rangeselector-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-rangeselector" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Range Selector</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="barcodegenerator-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-barcodegenerator" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Barcode Generator</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="sparklinecharts-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-sparklinecharts" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Sparkline Charts</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="treemap-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-treemap" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">TreeMap</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="bulletchart-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-bulletchart" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Bullet Chart</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="kanban-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-kanban" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Kanban</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="progressbar-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-progressbar" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">ProgressBar</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="pdfviewer-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-pdfviewer" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">PDF Viewer</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="richtexteditor-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-richtexteditor" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Rich Text Editor</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="inplaceeditor-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-inplaceeditor" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">In-place Editor</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="scheduler-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-scheduler" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Scheduler</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="calendar-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-calendar" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Calendar</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="datepicker-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-datepicker" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">DatePicker</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="daterangepicker-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-daterangepicker" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">DateRangePicker</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="datetimepicker-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-datetimepicker" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">DateTime Picker</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="timepicker-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-timepicker" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">TimePicker</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="ganttchart-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-ganttchart" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Gantt Chart</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="autocomplete-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-autocomplete" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">AutoComplete</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="combobox-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-combobox" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">ComboBox</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="dropdownlist-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-dropdownlist" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Dropdown List</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="multiselectdropdown-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-multiselectdropdown" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">MultiSelect Dropdown</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="listbox-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-listbox" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">ListBox</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="dialog-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-dialog" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Dialog</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="listview-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-listview" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">ListView</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="tooltip-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-tooltip" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Tooltip</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="splitter-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-splitter" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Splitter</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="dashboardlayout-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-dashboardlayout" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Dashboard Layout</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="card-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-card" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Card</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="textbox-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-textbox" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">TextBox</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="inputmask-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-inputmask" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Input Mask</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="numerictextbox-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-numerictextbox" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Numeric TextBox</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="radiobutton-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-radiobutton" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Radio Button</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="checkbox-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-checkbox" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Checkbox</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="fileupload-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-fileupload" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">File Upload</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="rangeslider-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-rangeslider" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Range Slider</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="toggleswitchbutton-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-toggleswitchbutton" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Toggle Switch Button</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="accordion-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-accordion" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Accordion</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="contextmenu-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-contextmenu" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Context Menu</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="menubar-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-menubar" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Menu Bar</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="sidebar-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-sidebar" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Sidebar</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="tabs-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-tabs" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Tabs</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="toolbar-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-toolbar" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Toolbar</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="treeview-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-treeview" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">TreeView</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="filemanager-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-filemanager" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">File Manager</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="carousel-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-carousel" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Carousel</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="breadcrumb-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-breadcrumb" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Breadcrumb</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="button-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-button" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Button</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="buttongroup-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-buttongroup" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Button Group</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="dropdownmenu-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-dropdownmenu" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Dropdown Menu</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="progressbutton-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-progressbutton" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Progress Button</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="splitbutton-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-splitbutton" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Split Button</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="chips-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-chips" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Chips</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="toast-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-toast" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Toast</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="spinner-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-spinner" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Spinner</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="querybuilder-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-querybuilder" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Query Builder</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="excel-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-excel" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Excel</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="pdf-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-pdf" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">PDF</span>
 	</NavLink>
 	</li>

       </ul>
    </div>
</div>
  <style>
 .scroller {
         height: calc(100vh - 160px) !important;
         overflow-y: auto;
         width: 287px;
     }

         .scroller::-webkit-scrollbar, scrollbar-thumb
         .scroller::-webkit-scrollbar-thumb {
             width: 8px;
             height: 110px;
             border-radius: 4px;
             position: center;
         }

         .scroller::-webkit-scrollbar-thumb {
             box-shadow: inset 0 0 0 10px #313C75;
             border-radius: 4px;
         }

         .scroller::-webkit-scrollbar-track {
             width: 28px;
         }
     .separator {
         border: 1px solid #FFFFFF;
         opacity: 0.14;
         width: 247px;
         margin: 1rem;
         margin-top: 0px;
     }
</style>
